*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: black;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.main_header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header_container{
    max-width: 100%;
    padding: 35px 0;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu{
    list-style-type: none;
    display: flex;
    width: 375px;
    padding: 10px 20px;
    justify-content: space-between;
}
.header_menu_item a{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
:hover.header_menu_item a{
    color: #e8e8e8;
    transition: all, 0.3s;
}
.main_wrapper{
    width: 100%;
    height: 800px;
    background-image: url("../images/main_wrapper.jpg");
    opacity: 0.80;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}
.main_wrapper_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_wrapper_content_title{
    text-align: center;
    font-size: 140px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    line-height: 154px;
}
.main_wrapper_content_subtitle{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 230px;
}
.project-btn{
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px;
    border-color: #fff;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 30px;
    margin-bottom: 80px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
:hover.project-btn{
    background-color: #f1f1f1f7 ;
    color: #000;
    transition: 0.3s all;
}
.main_wrapper.section_two{
    background-image: url("../images/section_two.jpg");
    opacity: 0.80;
}
.main_wrapper_content_subtitle.section_two{
    margin-bottom: 180px;
}
.main_wrapper.section_three{
    background-image: url("../images/section_three.jpg");
    opacity: 0.80;
}
.main_wrapper_content_title.section_three{
    max-width: 870px;
}
.main_wrapper_content_subtitle.section_three{
    margin-bottom: 120px;
}
.main_wrapper.section_four{
    background-image: url("../images/section_four.jpg");
    opacity: 0.80;
}
.main_wrapper_content_subtitle.section_four{
    margin-bottom: 120px;
}
.main_wrapper.section_five{
    background-image: url("../images/section_five.jpg");
    opacity: 0.80;
}
.main_wrapper_content_title.section_five{
    max-width: 870px;
}
.main_wrapper_content_subtitle.section_five{
    margin-bottom: 120px;
}
.main_wrapper.call_to_action{
    background-image: none;
    background-color: black;
    opacity: 1;
    max-height: 435px;
}
.main_wrapper_content_title.call_to_action{
    font-size: 50px;
    margin-bottom: 0;
    line-height: 70px;
}
.main_wrapper_content_subtitle.call_to_action{
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 50px;
}
.project-btn.call_to_action{
    background-color: #fff;
    color: black;
}
:hover.project-btn.call_to_action{
    background-color: #000;
    color: #fff;
}
.footer_wrapper{
    width: 100%;
    height: 128px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}
.footer_nav{
    width: 570px;
}
.footer_menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.footer_menu_item{
    padding-left: 30px;
    font-size: 13px;
}
.footer_menu_item a{
    color: #666;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
:hover.footer_menu_item a{
    color: #fff;
    transition: 0.3s all;
}

.footer_info{
    display: flex;
}
.footer_copyright{
    font-size: 13px;
    color: #666;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding-right: 30px;
}
.footer_info{
    font-size: 13px;
    color: #666;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

